@use '@/styles/colors.scss';

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: darken($color: colors.$clr-primary, $amount: 45);
  border-radius: 10px;
}